.product__card {
    margin-top: 30px;
}

.product__photo {
    width: 300px;
    height: 300px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.product__info {
    width: 300px;
    height: 391px;
}

.product__name {
    font-size: 18px;
    font-weight: bold;
}

.product__price {
    padding: 20px 0 20px 0;
    font-size: 28px;
    font-weight: bold;
}

.product__description {
    font-size: 14px;
}

.product__description__number {
    margin-bottom: 10px;
}
.product__description__manufacturer {
    margin-bottom: 10px;
}

.product__description__rate {
    display: flex;
    align-items: center;
}

.product__btns {
    display: flex;
    gap: 10px;
    margin: 20px 0 20px 0;
}
.count {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 6px 0px 6px 0px;
    background-color: #272727;
    border-radius: 4px;
}

.count__btn {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}

.count__number {
    color: #FFFFFF;
    font-size: 16px;
}

.basket__btn {
    width: 130px;
    height: 40px;
    padding: 14px 20px 14px 20px;
    border-radius: 4px;
    background-color: #FDC82A;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.favourites__btn {
    width: 40px;
    height: 40px;
    padding: 14px 15px 14px 15px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #FDC82A;
    color: #FDC82A;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favourites__text {
    margin: 0 10px 0 10px
}
.availability {
    display: flex;
    width: 300px;
    height: 36px;
    background-color: #272727;
    font-size: 14px;
    padding: 8px 30px 8px 30px;
    border-radius: 4px;
    gap: 12px;
}
.availability__text {
    font-weight: bold;
}