.product__paths {
    margin-top: 30px;
    gap: 6px;
}

.link__path {
    color: #DDDDDD;
    font-size: 14px;
}

.current__link {
    color: #DDDDDD;
    text-decoration: none;
    font-size: 14px;
}