.others__products__header {
    margin-top: 60px;
    margin-bottom: 30px;
}

.others__products__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
}

.product__cards__dop {
    width: 145px;
    height: 320px;
    border-radius: 4px;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFF;
    color: #1C1C1C;
}

.product__cards__photo {
    width: 125px;
    height: 110px;
    border-radius: 2px;
}

.product__cards__name {
    width: 125px;
    height: 102px;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
}

.rate {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 4px 0 4px 0;
}

.rate__stars {
    gap: 8px;
}

.rate__number {
    font-size: 14px;
    color: #818181;
}

.product__cards__price {
    margin-bottom: 5px;
    font-size: 14px;
}

.product__cards__term {
    height: 20px;
    font-size: 14px;
    color: #818181;
}